<% layout('layouts/boilerplate') %>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus nemo blanditiis porro. Ipsum delectus eos vel!
    Iure, veniam facere! Vel a reiciendis veniam voluptas sint sit mollitia beatae facere voluptatum?
  </p>